body{
    background-color: lightcyan;
    background-image: url("https://i.pinimg.com/736x/a8/34/af/a834afbaa0de63124cf577735444c29c--pixel-art.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#pokemonLogo{
    margin-left: 33%;
    width: 300px;
    height:220px;
    color: yellow;
    font-size: 130px;
    font-weight: 1000;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: red;
    text-shadow: 0 0 4px red, 0 0 6px red;
}
.slider{
    color: red;
    height: 80px;
    width: 1400px;
    margin-left: 50px;
}

#selection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 50vh;
}
select{
    background-color: pink;
    height: 80px;
    width: 200px;
    border-radius: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: crimson;
    margin: 18px;
    border-color: pink;
}
#match{
    display:none ;
    width: 100vw;
    height: 50vh;
}
#warning{
    display: none;
    margin-left: 50%;
    font-size: 20px;
    font-weight: 50;
}
#middle{
    width: 350px;
    flex-direction: column;
    text-align: center;
    gap: 50px;
}
#endMatch{
    display: none;
    
    height: 60px;
    width: 300px;
    background-color: lawngreen;
    color: white;
    border-radius: 18px;
    font-size: 30px;
    border-color: white;
}
#result{
    display: none;
    font-size: 80px;
    font-weight: bold;
    color: red;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    text-shadow: 0 0 4px black, 0 0 6px black;
}
#selection1{
   justify-content: center;
    width: 180px;
}
button{
    margin: 30px;
}
.image{
    width: 300px;
    height: 300px;
    margin: 20px;
    opacity: 0.9;
}
.typeDiv{
    margin: 20px;
    width: 200px;
    height: 100px;
    color: blue;
    font-size: 30px;
    font-weight: 200;
}
#pokemon2{
    text-align: center;
    background-color: pink;
    height: 55px;
    width: 200px;
    padding-top: 20px;
    border-radius: 30px;
    font-size: 30px;
    font-weight: bold;
    color: crimson;
    margin: 18px;
}
.pokemon1-btn{
    justify-content: space-between;
    height:80px;
    width: 300px;
    margin: 10px;
    color: white;
    border-radius: 15px;
    font-size: 30px;
    font-weight: bold;
    margin-left: 50px;
}
#button1{
    background-color: red;
}
#button2{
    background-color: blue;
}
#button3{
    background-color: gray;
}
#button4{
    background-color: darkmagenta;
}
.healthDiv{
    margin-left: 50px;
    font-size: 50px;
    font-weight: bold;
}
#oppbtn{
    margin-left: 33%;
    height: 50px;
    width: 300px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    border-color: white;
}
#btn{
    margin-left: 33%;
    height: 80px;
    width: 300px;
    background-color: red;
    color: white;
    border-radius: 18px;
    font-size: 50px;
    border-color: white;
}
#damage1{
    color: red;
}
#damage2{
    color: red;
}
.atkDiv{
    margin-left: 50px;
    font-size: 30px;
    font-weight: bold;
}
#nextBtn{
    visibility: hidden;
    margin-left: 50px;
    height: 60px;
    width: 300px;
    background-color: lawngreen;
    color: white;
    border-radius: 18px;
    font-size: 30px;
    border-color: white;
}
#winner-img{
    display: none;
    
    width: 250px;
    height: 250px;
}
#result-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#oppAtk{
    visibility: hidden;
}
#atk{
    visibility: hidden;
}
